
#linkedin-search-extractor {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    border-left: 1px solid #555;
    overflow: auto;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 200px;
}
#linkedin-search-extractor textarea {
    height: 500px;
    width: 95%;
}

#linkedin-search-extractor .buttons button {
    background: #555;
    border: 1px solid #000;
    color: #fff;
    padding: 5px 10px;
}

